body{
	text-align: center;
	background-color: #FAFAFA;
}
.first{
	text-align: center;
}
.Supervisor{
	width: 400px;
	height: 250px;
	position: relative;
	top: 140px;
	border-radius: 10px;
	background-color: #FFFFFF;
	box-shadow: 0px 3px 8px 3px #DAE4EE;
	border-top: 4px solid #46D2D1;

}
.team-builder{
	width: 400px;
	height: 250px;
	position: relative;
	left: 432px;
	bottom: 200px;
	border-radius: 10px;
	background-color: #FFFFFF;
	padding: 35px 35px;
	box-shadow: 0px 3px 8px 3px #DAE4EE;
	border-top: 4px solid #EC5355;
}
.karma{
	width: 400px;
	height: 250px;
	border-radius: 10px;
	position: relative;
	left: 432px;
	bottom: 165px;
	background-color: #FFFFFF;
	padding: 35px 35px;
	box-shadow: 0px 3px 8px 3px #DAE4EE;
	border-top: 4px solid #FCAE4A;
}
.calculator{
	width: 400px;
	height: 250px;
	border-radius: 10px;
	position: relative;
	bottom: 610px;
	left: 860px;
	padding: 35px 35px;
	box-shadow: 0px 3px 8px 3px #DAE4EE;
	border-top: 4px solid #549CEE;

}
img{
	float: right;
}
.stkc{
	width: 1300px;
    height: 600px;
	margin:auto;
}